.wrapper {
    background-color: var(--gray-500);
    
    display: flex;
    align-items: flex-start;

    gap: 0.75rem;

    padding: 1rem;
    border: 0.5px solid var(--gray-400);
    border-radius: 8px;
}

.wrapper input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;

    height: 1.1rem;
    width: 1.1rem;
    padding: 0.25rem;
    margin-top: 0.25rem;

    border-radius: 50%;

    transition: background-color 300ms, border 300ms;
}

.wrapper .itemUnchecked {
    background-color: transparent;
    border: 0.15em solid var(--blue);
}    

.wrapper .itemChecked {
    background-color: var(--purple-dark);
    border: 0.15em solid var(--purple-dark);

    content: url('../../assets/check.svg');
}

.wrapper p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    flex: 1;
    vertical-align: text-top;

    transition: line-decoration 300ms;
}

.wrapper p.textUnchecked {
    text-decoration: none;
}

.wrapper p {
    text-decoration: line-through;
}

.wrapper img {
    color: var(--gray-300);
}