.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5rem; /* verificar */
    width: 736px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.choresCounter {
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.1875rem;
}

.choresCounter p {
    color: var(--blue);
    font-weight: bold;
}

.choresCounter .choresDone {
    color: var(--purple);
}

.choresCounter span {
    background-color: var(--gray-400);
    color: var(--gray-200);
    font-weight: bold;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

.wrapper .toDoList {
    margin-top: 1.5rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    min-height: 244px;
}